div {
  margin:4px, 4px; 
  padding:4px; 
  width: auto;
  
  max-height: 100vh;
  overflow: auto;
  text-align:justify; 
}

pdf-viewer {
    display: block;
    height: 100vh;
}


.mydiv {
  margin:4px, 4px; 
  padding:4px; 
  width: auto;    
  max-height: 100vh;
  overflow: auto;
  text-align:justify; 
}